@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  @apply w-2 h-2 
}

::-webkit-scrollbar-thumb {
  @apply bg-background-light rounded-full
}

.ProseMirror {
  @apply w-full h-full background p-2 text-xl overflow-auto outline-none
}

.ProseMirror ul{
  @apply pl-6
}

.ProseMirror ol{
  @apply pl-6
}

@layer base {
  ul, ol {
    list-style: revert;
  }

  h1{
    @apply text-6xl font-bold
  }

  h2{
    @apply text-4xl font-bold
  }

  h3{
    @apply text-2xl font-bold
  }

  blockquote{
    @apply pl-3 ml-6 border-l-4 border-primary font-bold
  }

  hr{
    @apply my-4 opacity-70
  }

  option{
    @apply font-bold
  }
}